{% extends 'base.html' %}

{% block title %} Contact Us {% endblock title %}

{% block body %} 
<h1><center>Time to meet the developers</h1>
<div class="container my-5 px-10">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card shadow-sm">
                  <img src="/static/img/saumil.jpeg" class="d-block w-100" alt="..." height="250" width="250">
      
                  <div class="card-body">
                    <p class="card-text"><center><h1>Saumil Shankar</h1>211210061</p>
                    <div class="d-flex justify-content-between align-items-center">
                    </div>
                  </div>
                </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img src="/static/img/shridhar.jpeg" class="d-block w-100" alt="..." height="250" width="250">
    
                <div class="card-body">
                  <p class="card-text"><center><h1>Shridhar Gupta</h1>211220051</p>
                  <div class="d-flex justify-content-between align-items-center">
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                  <img src="/static/img/gaurish.jpeg" class="d-block w-100" alt="..." height="250" width="250">
      
                  <div class="card-body">
                    <p class="card-text"><center><h1>Gaursih Sood</h1>211210070</p>
                    <div class="d-flex justify-content-between align-items-center">
                    </div>
                  </div>
                </div>
            </div>
        </div>        
    </div>    
{% endblock body %}